@import '../../vars'

.container
    background-color: $secondColor
    color: $primaryColor
    width: 300px
    height: 100vh
    padding: 15px
    display: flex
    align-items: center
    flex-direction: column
    .img-profile
        background-color: $primaryColor
        width: 200px
        height: 200px
        border-radius: 100px
        overflow: hidden